body{
    font-style: "Georgia";
    background-color: aliceblue;
}
#gazeta{
    text-align: center;
    color: white;
    background-color: #A00037;
    font-size: 150%;
    padding: 3%;
}
#przyciski{
    width: 70%;
}

.przycisk{
    background-color: #D81B60;
    color: white;
    padding: 15px;
    margin: 20px;
    width: 100%;
}

#stopka{
    background-color: #D81B60;
    color: white;
    width: 20%;
    padding: 5%;
    margin: 10%;
    box-shadow: 15px 15px 12px dimgray;

}

#calosc{
    display: flex;
    flex-direction: row;
}

.ukryty{
    display: none;
}

h5,q{
    font-style: italic;
    text-align: center;
    margin: 0;
}

table{
    margin: auto;
    width: 95%;
    border: 1px aliceblue solid;
}